* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background: rgba(12, 14, 34, 1.0);
  font-size: 1.0rem;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  width: 100%;
  margin: 2rem 0;
  text-align: center;
}

header .logo {
  width: 100%;
}

header .social-list {
  list-style-type: none;
}

.social-list img {
  max-width: 2rem;
}